# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [45]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [16]:
#Create df from Part 1 csv
weather_df = pd.read_csv("../WeatherPy/Weather_Pycode_Data.csv")

#Rename columns
weather_df = weather_df.rename(columns={"0":"city","all":"cloudiness","speed":"wind speed", "0.1":"date"})
weather_df.sample(15)

,city,country,lat,lon,temp_max,humidity,cloudiness,wind speed,date
556,Moa,CU,20.66,-74.94,63.45,93.0,8.0,3.67,1.584931e+09
150,Muros,ES,42.78,-9.06,54.00,93.0,20.0,4.70,1.584931e+09
58,Lima,PE,-12.04,-77.03,77.00,65.0,100.0,12.75,1.584931e+09
525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,Arrondissement de Saint-Denis,FR,48.92,2.33,39.99,59.0,0.0,6.93,1.584931e+09
497,Puerto Suárez,BO,-18.95,-57.80,74.61,95.0,2.0,2.53,1.584931e+09
136,Naze,JP,28.37,129.48,73.40,73.0,75.0,14.99,1.584931e+09
151,Dunmore East,IE,52.15,-6.99,35.01,82.0,12.0,15.01,1.584931e+09
71,Albany,US,42.60,-73.97,33.80,34.0,75.0,3.36,1.584931e+09
111,Santa Inês,BR,-3.67,-45.38,72.99,85.0,100.0,0.31,1.584931e+09
326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,Boa Viagem,BR,-5.13,-39.73,73.35,90.0,100.0,3.80,1.584931e+09
62,Rio Grande,BR,-32.03,-52.10,69.01,86.0,0.0,10.42,1.584931e+09
132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415,Huarmey,PE,-10.07,-78.15,72.99,60.0,83.0,0.81,1.584931e+09

In [18]:
#Drop Na values
df = weather_df.dropna(how='any')
weather_df.sample(15)

,city,country,lat,lon,temp_max,humidity,cloudiness,wind speed,date
337,Imbituba,BR,-28.24,-48.67,73.40,69.0,75.0,8.05,1.584931e+09
305,Torbay,CA,47.67,-52.73,21.99,85.0,90.0,12.75,1.584931e+09
352,Wattegama,LK,6.80,81.48,78.80,100.0,5.0,6.93,1.584931e+09
512,Vityazevo,RU,44.99,37.27,46.00,93.0,75.0,4.47,1.584931e+09
209,Kishanganj,IN,26.12,87.93,77.67,51.0,73.0,3.36,1.584931e+09
481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
588,Hamilton,US,39.18,-84.53,45.00,80.0,90.0,5.97,1.584931e+09
374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,Point Fortin,TT,10.18,-61.68,77.00,88.0,40.0,5.82,1.584931e+09
406,Agüimes,ES,27.91,-15.45,63.00,63.0,20.0,11.41,1.584931e+09
405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,Bonavista,CA,48.65,-53.11,19.99,78.0,100.0,13.00,1.584931e+09
470,Saldanha,ZA,-33.01,17.94,59.00,82.0,67.0,5.82,1.584931e+09
517,Oranjemund,NaN,-28.55,16.43,57.51,94.0,18.0,6.98,1.584931e+09
308,Bagdarin,RU,54.43,113.60,29.07,72.0,100.0,3.13,1.584931e+09

In [4]:
#Create lists of city coordinates to map
lats =  df['lat'].tolist()
lngs = df['lon'].tolist()
coords = list(zip(lats, lngs))
coords[0:10]

[(20.15, 92.9),
 (22.08, -159.32),
 (-53.15, -70.92),
 (7.69, 126.55),
 (60.4, -1.35),
 (69.01, 23.04),
 (10.57, 72.64),
 (43.8, 87.6),
 (27.98, -114.06),
 (3.07, 172.79)]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Save Humidity values as list
humidity = df['humidity'].tolist()
humidity[0:10]

[52.0, 88.0, 93.0, 79.0, 81.0, 78.0, 69.0, 57.0, 73.0, 77.0]

In [6]:
# Configure maps
gmaps.configure(api_key = g_key)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(coords, weights=humidity, 
                                 dissipating=False, max_intensity=60,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [25]:
# Narrow list of cities to those with humity less than 40%, max temp between 70 and 85, wind speed less than 15 mph, and cloudiness less than 50%
hotel_df = df.loc[(df['humidity']<40) & (df['temp_max']>70) & (df['temp_max']<85) & (df['wind speed']<15)
        & (df['cloudiness']<50),:]
hotel_df = hotel_df[["city","country","lat","lon","temp_max","humidity","cloudiness","wind speed"]]
hotel_df.head()

,city,country,lat,lon,temp_max,humidity,cloudiness,wind speed
33,Busselton,AU,-33.65,115.33,80.01,39.0,13.0,3.38
96,Agra,IN,27.18,78.02,78.39,30.0,33.0,5.26
129,Tura,IN,25.52,90.22,82.71,37.0,0.0,1.79
307,Marabba,SD,12.35,32.18,70.65,16.0,0.0,8.16
369,Pinos,MX,22.30,-101.57,71.60,35.0,5.0,4.70

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [62]:
# Set up columns for hotel search
hotel_df["hotel name"] = ""
hotel_df["hotel lat"] = ""
hotel_df["hotel lng"] = ""

#Reset index
hotel_df_reindex = hotel_df.reset_index(drop=True)
hotel_df_reindex

,city,country,lat,lon,temp_max,humidity,cloudiness,wind speed,hotel name,hotel lat,hotel lng
0,Busselton,AU,-33.65,115.33,80.01,39.0,13.0,3.38,,,
1,Agra,IN,27.18,78.02,78.39,30.0,33.0,5.26,,,
2,Tura,IN,25.52,90.22,82.71,37.0,0.0,1.79,,,
3,Marabba,SD,12.35,32.18,70.65,16.0,0.0,8.16,,,
4,Pinos,MX,22.30,-101.57,71.60,35.0,5.0,4.70,,,
5,Tacoaleche,MX,22.82,-102.42,73.40,23.0,20.0,11.41,,,
6,Ndélé,CF,8.41,20.65,79.29,38.0,0.0,5.84,,,
7,Ouallam,NE,14.32,2.09,81.99,15.0,44.0,9.86,,,
8,Collie,AU,-33.37,116.15,80.01,39.0,2.0,5.97,,,
9,Bauchi,NG,10.50,10.00,76.05,21.0,11.0,2.82,,,

In [65]:
# Set up Google API call
url = ("https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key={0}").format(g_key)

# Create loop to get responses for each city
hotel_names = []
hotel_lats = []
hotel_lngs = []

for index, row in hotel_df_reindex.iterrows():
    lat = row["lat"]
    lng = row["lon"]
    hotel_coords = f"{lat},{lng}"
    target_url = f"{url}&location={hotel_coords}"
        
    # Get response
    print(f"Getting hotel info for city {index}.")
    
    try:
        response = requests.get(target_url).json()
        
        hotel_name = response["results"][0]["name"]
        hotel_lat = response["results"][0]["geometry"]["location"]["lat"]
        hotel_lng = response["results"][0]["geometry"]["location"]["lng"]
        hotel_names.append(hotel_name)
        hotel_lats.append(hotel_lat)
        hotel_lngs.append(hotel_lng)

    except(KeyError, IndexError):
        print(f"NO RESULTS FOR CITY {index}")

Getting hotel info for city 0.
Getting hotel info for city 1.
Getting hotel info for city 2.
Getting hotel info for city 3.
NO RESULTS FOR CITY 3
Getting hotel info for city 4.
Getting hotel info for city 5.
NO RESULTS FOR CITY 5
Getting hotel info for city 6.
NO RESULTS FOR CITY 6
Getting hotel info for city 7.
NO RESULTS FOR CITY 7
Getting hotel info for city 8.
Getting hotel info for city 9.
NO RESULTS FOR CITY 9

In [67]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df_reindex.iterrows()]
locations = hotel_df_reindex[["lat", "lon"]]
locations

KeyError: 'Hotel Name'

In [9]:
# Add marker layer ontop of heat map


# Display Map