# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
#Create df from Part 1 csv
weather_df = pd.read_csv("../WeatherPy/Weather_Pycode_Data.csv")

#Rename columns
weather_df = weather_df.rename(columns={"0":"city","all":"cloudiness","speed":"wind speed", "0.1":"date"})
weather_df.sample(15)

,city,country,lat,lon,temp_max,humidity,cloudiness,wind speed,date
284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,Dongsheng,CN,39.82,109.98,56.07,19.0,100.0,10.51,1.584931e+09
207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382,Ýpsonas,CY,34.69,32.96,48.20,81.0,0.0,4.70,1.584931e+09
583,Lucapa,AO,-8.42,20.74,61.83,96.0,100.0,7.65,1.584931e+09
406,Agüimes,ES,27.91,-15.45,63.00,63.0,20.0,11.41,1.584931e+09
496,Ouallam,NE,14.32,2.09,81.99,15.0,44.0,9.86,1.584931e+09
22,Argetoaia,RO,44.52,23.37,33.01,96.0,90.0,10.29,1.584931e+09
321,Kumluca,TR,36.37,30.29,47.25,86.0,33.0,3.42,1.584931e+09
355,Bowen,AU,-20.02,148.23,88.00,70.0,75.0,14.99,1.584931e+09
486,Zhangjiakou,CN,40.81,114.88,48.15,21.0,0.0,2.77,1.584931e+09
466,Dickinson,US,29.46,-95.05,73.99,88.0,20.0,10.29,1.584931e+09
469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,Baykit,RU,61.67,96.37,17.55,83.0,100.0,15.77,1.584931e+09
512,Vityazevo,RU,44.99,37.27,46.00,93.0,75.0,4.47,1.584931e+09

In [4]:
#Drop Na values
df = weather_df.dropna(how='any')
weather_df.sample(15)

,city,country,lat,lon,temp_max,humidity,cloudiness,wind speed,date
147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,Yulara,AU,-25.24,130.99,91.40,16.0,27.0,17.22,1.584931e+09
180,Lavrentiya,RU,65.58,-171.00,33.39,95.0,100.0,14.38,1.584931e+09
38,Kumul,CN,42.80,93.45,54.09,27.0,95.0,2.66,1.584931e+09
541,Sharkan,RU,57.30,53.87,14.00,79.0,0.0,5.53,1.584931e+09
92,Ostrovnoy,RU,68.05,39.51,22.95,86.0,100.0,24.85,1.584931e+09
500,Tuxpan,MX,19.55,-103.40,73.40,83.0,20.0,9.17,1.584931e+09
563,Karasjok,NO,69.47,25.51,35.60,64.0,85.0,34.45,1.584931e+09
525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283,Bath,GB,51.38,-2.36,41.00,80.0,0.0,10.29,1.584931e+09
66,Qaanaaq,GL,77.48,-69.36,-10.35,68.0,68.0,3.51,1.584931e+09
483,Isangel,VU,-19.55,169.27,84.20,74.0,75.0,16.11,1.584931e+09
178,Ivanava,BY,52.15,25.54,25.83,60.0,0.0,10.94,1.584931e+09
183,Boguchany,RU,58.38,97.45,17.73,78.0,100.0,19.80,1.584931e+09
378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Create lists of city coordinates to map
lats =  df['lat'].tolist()
lngs = df['lon'].tolist()
coords = list(zip(lats, lngs))
coords[0:10]

[(20.15, 92.9),
 (22.08, -159.32),
 (-53.15, -70.92),
 (7.69, 126.55),
 (60.4, -1.35),
 (69.01, 23.04),
 (10.57, 72.64),
 (43.8, 87.6),
 (27.98, -114.06),
 (3.07, 172.79)]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
# Save Humidity values as list
humidity = df['humidity'].tolist()
humidity[0:10]

[52.0, 88.0, 93.0, 79.0, 81.0, 78.0, 69.0, 57.0, 73.0, 77.0]

In [7]:
# Configure maps
gmaps.configure(api_key = g_key)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(coords, weights=humidity, 
                                 dissipating=False, max_intensity=60,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
# Narrow list of cities to those with humity less than 40%, max temp between 70 and 85, wind speed less than 15 mph, and cloudiness less than 50%
hotel_df = df.loc[(df['humidity']<40) & (df['temp_max']>70) & (df['temp_max']<85) & (df['wind speed']<15)
        & (df['cloudiness']<50),:]
hotel_df = hotel_df[["city","country","lat","lon","temp_max","humidity","cloudiness","wind speed"]]
hotel_df.head()

,city,country,lat,lon,temp_max,humidity,cloudiness,wind speed
33,Busselton,AU,-33.65,115.33,80.01,39.0,13.0,3.38
96,Agra,IN,27.18,78.02,78.39,30.0,33.0,5.26
129,Tura,IN,25.52,90.22,82.71,37.0,0.0,1.79
307,Marabba,SD,12.35,32.18,70.65,16.0,0.0,8.16
369,Pinos,MX,22.30,-101.57,71.60,35.0,5.0,4.70

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
# Set up columns for hotel search
hotel_df["Hotel Name"] = ""
hotel_df["hotel lat"] = ""
hotel_df["hotel lng"] = ""

#Reset index
hotel_df_reindex = hotel_df.reset_index(drop=True)
hotel_df_reindex

,city,country,lat,lon,temp_max,humidity,cloudiness,wind speed,Hotel Name,hotel lat,hotel lng
0,Busselton,AU,-33.65,115.33,80.01,39.0,13.0,3.38,,,
1,Agra,IN,27.18,78.02,78.39,30.0,33.0,5.26,,,
2,Tura,IN,25.52,90.22,82.71,37.0,0.0,1.79,,,
3,Marabba,SD,12.35,32.18,70.65,16.0,0.0,8.16,,,
4,Pinos,MX,22.30,-101.57,71.60,35.0,5.0,4.70,,,
5,Tacoaleche,MX,22.82,-102.42,73.40,23.0,20.0,11.41,,,
6,Ndélé,CF,8.41,20.65,79.29,38.0,0.0,5.84,,,
7,Ouallam,NE,14.32,2.09,81.99,15.0,44.0,9.86,,,
8,Collie,AU,-33.37,116.15,80.01,39.0,2.0,5.97,,,
9,Bauchi,NG,10.50,10.00,76.05,21.0,11.0,2.82,,,

In [10]:
# Set up Google API call
url = ("https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key={0}").format(g_key)

# Create loop to get responses for each city
hotel_names = []
hotel_lats = []
hotel_lngs = []

for index, row in hotel_df_reindex.iterrows():
    lat = row["lat"]
    lng = row["lon"]
    hotel_coords = f"{lat},{lng}"
    target_url = f"{url}&location={hotel_coords}"
        
    # Get response
    print(f"Getting hotel info for city {index}.")
    
    try:
        response = requests.get(target_url).json()
        
        hotel_name = response["results"][0]["name"]
        hotel_lat = response["results"][0]["geometry"]["location"]["lat"]
        hotel_lng = response["results"][0]["geometry"]["location"]["lng"]
        hotel_names.append(hotel_name)
        hotel_lats.append(hotel_lat)
        hotel_lngs.append(hotel_lng)

    except(KeyError, IndexError):
        print(f"NO RESULTS FOR CITY {index}")

Getting hotel info for city 0.
Getting hotel info for city 1.
Getting hotel info for city 2.
Getting hotel info for city 3.
NO RESULTS FOR CITY 3
Getting hotel info for city 4.
Getting hotel info for city 5.
NO RESULTS FOR CITY 5
Getting hotel info for city 6.
NO RESULTS FOR CITY 6
Getting hotel info for city 7.
NO RESULTS FOR CITY 7
Getting hotel info for city 8.
Getting hotel info for city 9.
NO RESULTS FOR CITY 9

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df_reindex.iterrows()]
locations = hotel_df_reindex[["lat", "lon"]]
locations.dtypes

lat    float64
lon    float64
dtype: object

In [12]:
# Add hotel marker layer on top of heat map
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=[f"{Hotel Name}, {city}, {country}" for hotel in locations]
)

fig = gmaps.figure()
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

# Display Map