# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Create df from Part 1 csv
weather_df = pd.read_csv("../WeatherPy/Weather_Pycode_Data.csv")
weather_df.sample(15)

,0,country,lat,lon,temp_max,humidity,all,speed,0.1
391,Salalah,OM,17.02,54.09,78.80,100.0,75.0,9.17,1.584931e+09
533,Lagan,RU,45.39,47.37,44.91,72.0,5.0,12.12,1.584931e+09
433,Tupik,RU,54.43,119.93,26.91,90.0,0.0,1.81,1.584931e+09
545,Rodolfo Sánchez Taboada,MX,31.72,-116.57,61.00,84.0,96.0,1.01,1.584931e+09
57,Thompson,CA,55.74,-97.86,28.40,79.0,75.0,8.05,1.584931e+09
126,Belmonte,BR,-15.86,-38.88,75.20,88.0,75.0,4.70,1.584931e+09
425,Jiayuguan City,CN,39.82,98.30,54.27,32.0,19.0,10.36,1.584931e+09
345,Altea,ES,38.60,-0.05,57.20,87.0,40.0,8.05,1.584931e+09
578,Kem',RU,64.96,34.58,24.75,78.0,100.0,14.76,1.584931e+09
554,Muzhi,RU,65.37,64.67,15.75,84.0,0.0,11.68,1.584931e+09
73,Eureka,US,40.80,-124.16,52.00,81.0,90.0,3.36,1.584931e+09
250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
516,Kalmunai,LK,7.42,81.82,81.63,67.0,56.0,6.44,1.584931e+09
570,Kudahuvadhoo,MV,2.67,72.89,84.69,63.0,9.0,7.65,1.584931e+09
12,Butaritari,KI,3.07,172.79,83.79,77.0,0.0,17.07,1.584931e+09

In [3]:
#Drop Na values
df = weather_df.dropna(how='any')
weather_df.sample(15)

,0,country,lat,lon,temp_max,humidity,all,speed,0.1
337,Imbituba,BR,-28.24,-48.67,73.40,69.0,75.0,8.05,1.584931e+09
507,Collie,AU,-33.37,116.15,80.01,39.0,2.0,5.97,1.584931e+09
597,Charters Towers,AU,-20.10,146.27,86.13,58.0,71.0,15.52,1.584931e+09
246,Esim,GH,4.87,-2.24,78.21,89.0,100.0,2.44,1.584931e+09
553,Morant Bay,JM,17.88,-76.41,78.80,69.0,20.0,3.36,1.584931e+09
497,Puerto Suárez,BO,-18.95,-57.80,74.61,95.0,2.0,2.53,1.584931e+09
51,Codrington,AU,-38.27,141.97,58.23,62.0,67.0,9.71,1.584931e+09
471,Katsuura,JP,35.13,140.30,53.01,66.0,75.0,12.75,1.584931e+09
478,Pimentel,PE,-6.84,-79.93,72.81,87.0,100.0,11.56,1.584931e+09
371,Geelong,AU,-38.15,144.36,64.00,59.0,90.0,11.41,1.584931e+09
518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,Tallahassee,US,30.44,-84.28,71.01,82.0,1.0,3.78,1.584931e+09
450,Amga,RU,60.90,131.96,23.31,89.0,100.0,0.67,1.584931e+09
358,Hue,VN,16.47,107.60,80.60,78.0,40.0,5.82,1.584931e+09
38,Kumul,CN,42.80,93.45,54.09,27.0,95.0,2.66,1.584931e+09

In [4]:
#Create lists of city coordinates to map
lats =  df['lat'].tolist()
lngs = df['lon'].tolist()
coords = list(zip(lats, lngs))
coords[0:10]

[(20.15, 92.9),
 (22.08, -159.32),
 (-53.15, -70.92),
 (7.69, 126.55),
 (60.4, -1.35),
 (69.01, 23.04),
 (10.57, 72.64),
 (43.8, 87.6),
 (27.98, -114.06),
 (3.07, 172.79)]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Save Humidity values as list
humidity = df['humidity'].tolist()
humidity[0:10]

[52.0, 88.0, 93.0, 79.0, 81.0, 78.0, 69.0, 57.0, 73.0, 77.0]

In [32]:
# Configure maps
gmaps.configure(api_key = g_key)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(coords, weights=humidity, 
                                 dissipating=False, max_intensity=60,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [23]:
df_new = df.loc[(df['humidity']<50) & (df['temp_max']>65) & (df['temp_max']<90) & (df['speed']<20),:]
df_new

,0,country,lat,lon,temp_max,humidity,all,speed,0.1
33,Busselton,AU,-33.65,115.33,80.01,39.0,13.0,3.38,1.584931e+09
75,Pozo Colorado,PY,-23.49,-58.80,71.91,40.0,0.0,5.37,1.584931e+09
96,Agra,IN,27.18,78.02,78.39,30.0,33.0,5.26,1.584931e+09
129,Tura,IN,25.52,90.22,82.71,37.0,0.0,1.79,1.584931e+09
145,Murray Bridge,AU,-35.12,139.27,70.00,41.0,100.0,3.00,1.584931e+09
176,Flinders,AU,-34.58,150.86,73.00,45.0,40.0,10.29,1.584931e+09
216,Phan Thiet,VN,10.93,108.10,88.29,38.0,2.0,9.84,1.584931e+09
249,Rājāpur,IN,25.38,81.15,80.37,32.0,82.0,5.19,1.584931e+09
307,Marabba,SD,12.35,32.18,70.65,16.0,0.0,8.16,1.584931e+09
356,Bilma,NE,18.69,12.92,81.63,13.0,53.0,7.02,1.584931e+09
369,Pinos,MX,22.30,-101.57,71.60,35.0,5.0,4.70,1.584931e+09
377,Tacoaleche,MX,22.82,-102.42,73.40,23.0,20.0,11.41,1.584931e+09
380,Swan Hill,AU,-35.34,143.55,69.01,42.0,15.0,7.00,1.584931e+09
381,Ndélé,CF,8.41,20.65,79.29,38.0,0.0,5.84,1.584931e+09
399,Viedma,AR,-40.81,-63.00,73.71,42.0,81.0,10.76,1.584931e+09
468,Padampur,IN,29.68,73.62,74.61,39.0,94.0,11.25,1.584931e+09
491,Doha,QA,25.29,51.53,68.00,34.0,0.0,10.29,1.584931e+09
496,Ouallam,NE,14.32,2.09,81.99,15.0,44.0,9.86,1.584931e+09
507,Collie,AU,-33.37,116.15,80.01,39.0,2.0,5.97,1.584931e+09
520,Najrān,SA,17.49,44.13,66.20,45.0,25.0,5.82,1.584931e+09
561,Broken Hill,AU,-31.95,141.43,69.80,32.0,4.0,16.11,1.584931e+09
571,Reconquista,AR,-29.15,-59.65,69.03,48.0,0.0,7.85,1.584931e+09
574,Jackson,US,42.42,-122.83,66.20,29.0,20.0,9.17,1.584931e+09
575,Bauchi,NG,10.50,10.00,76.05,21.0,11.0,2.82,1.584931e+09
576,Perth,AU,-31.93,115.83,82.99,42.0,0.0,13.87,1.584931e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display Map